<div class="subjects show">
	<h2><%=@order.pakket %></h2>
	<h2><%=@order.datum_bestelt %></h2>
	<h2><%=@order.verstuurt %></h2>
	<h2><%=@order.datum_verstuurt %></h2>
	<h2><%=@order.tweede_exemplaar %></h2>
	<h2><%=@order.packettracer_ID %></h2>
</div>