<% if !flash[:notice].blank? %> 
  <div class="notice">
		<%= flash[:notice] %>
<% end %>

<div class="PostNL index">
	<h2>PostNL</h2>

	<%= link_to("Add New Subject", {:action => 'new'}, :class => 'action new') %>


	<table>
	  <tr class="header">	
		<th>Voornaam </th>
		<th>Achternaam </th>
		<th>address</th>
		<th>Post code</th>
		<th>E-mail</th>
		
	  </tr>
	  <% @customers.each do|customer| %>
	  <tr>
	  	<td><%= customer.first_name %></td>
	  	<td class="center"><%= customer.last_name%></td>
	  	<td class="center"><%= customer.address %></td> 
	  	<td class="center"><%= customer.zip_code %></td>
	  	<td class="center"><%= customer.email %></td>
	  	<td class="Datum bestelt"></th> 
	  	<td class="actions">
	  	<%= link_to("Show", {:action => 'show', :id => customer.id}, :class => 'action show') %> 
	  		
	  	</td>
	  </tr>
	  <% end %>
	</table>
	 <a class="btn btn-primary" href="#">Test</a>
   </div>

